
	<script src="/path/to/masonry.pkgd.min.js"></script>

	<h4><span class="label label-info">2 New Today</span></h4>
	<h4><span class="label label-success">Post on "Social"</span></h4>



	<div id="articles" class="transitions-enabled">



			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'Claudio Ethos', claudioethos_path %></h2>
					<h4>March 24, 2014</h4>

					<img src="http://www.molotow.com/magazine/blog/wp-content/blogs.dir/1/files/miamiecb/bnad_04.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
					 
					 

					 <br>
					 <br>
					 <br>
				</div>
			</div>


			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'Hot Topic: Herakut', herakut_path %></h2>
					<h4>March 24, 2014</h4>

					<img src="http://thedolab.com/wp-content/uploads/2011/11/Herakut.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
					 
					 

					 <br>
					 <br>
					 <br>
				</div>
			</div>


			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'Music To My Ojos, Thanks Ludo', ludo_path %></h2>
					<h4>March 21, 2014</h4>

					<img src="http://arrestedmotion.com/wp-content/uploads/2011/01/IMG_0708.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
						 
						 

					 <br>
					 <br>
					 <br>
				</div>
			</div>


			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'Reka: Beyond What Meets the Eye', reka_path %></h2>
					<h4>March 21, 2014</h4>

					<img src="http://www.everfreshstudio.com/blog/wp-content/uploads/2013/07/james2-700x466.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
								 

					 <br>
					 <br>
					 <br>
				</div>
			</div>


			<div class="box panel panel-default">
				<div class="action center">
						</br>
						<h2><%= link_to 'Bumblebee Sweetens Life (Artist: Bumblebeelovesyou)', bumblebee_path %></h2>
						<h4>March 21, 2014</h4>

						<img src="http://farm6.staticflickr.com/5531/10092451183_4d73a1a54e_o.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
	

						 <br>
						 <br>
						 <br>
				</div>
			</div>


			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'The Stikman', stikman_path %></h2>
					<h4>March 20, 2014</h4>

					<img src="http://blog.vandalog.com/wp-content/uploads/2012/03/3392484289_1e2d1cc3ac_z.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
					 
					 

					 <br>
					 <br>
					 <br>
			</div>
		</div>

			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'OX from Franceland', ox1_path %></h2>
					<h4>March 20, 2014</h4>

					<img src="http://wewastetime.files.wordpress.com/2013/06/ox-paris-2012-p-de-bercy.jpg"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
					 
					 

					 <br>
					 <br>
					 <br>
				</div>
			</div>

			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2><%= link_to 'Felice Varini and Projections', varini1_path %></h2>
					<h4>March 19, 2014</h4>

					<img src="http://www.frameweb.com/media/files/151302"  style="max-width:100%" alt="Varini" height="290" width="250"/></br>
					 
					 

					 <br>
					 <br>
					 <br>
				</div>
			</div>

			<div class="box panel panel-default">
				<div class="action center">
					</br>
					<h2>Haim-The Wire</h2>
					<h4>March 18, 2014</h4>

					</br>
					<iframe width="700" height="400" src="http://www.youtube.com/embed/1TffpkE2GU4" style="max-width:100%"      frameborder="0"></iframe>
					 
					 

					 <br>
					 <br>
					 <br>
				</div>
			</div>

			<div class="box panel panel-default">
				<div class="action center">

					</br>
					<h2><%= link_to 'Kidult, Going Big', article1_path %></h2>
					<h4>March 18, 2014</h4>
					</br>
					 <img src="http://i762.photobucket.com/albums/xx270/akimn89/kidult1_zps4983e8d3.jpg"  style="max-width:100%" alt="kidult" height="290" width="250"/></br>
					 <!--<p>What we're looking at now</p>-->

					 <br>
					 <br>
					 <br>
				</div>
			</div>

			<div class="action center">
				<div class="box panel panel-default">
				</br>
				 <h2><%= link_to 'Mayflower Featuring Greek', pieces_path %></h2>
				 <h3>by Hunter Plasterwall</h3>
				 <h4>March 18, 2014</h4>
				</br>
				  <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMTangTopFront2_zps170bb0ad.jpg" alt="Greek Mayflower" height="290" width="250"/></br>
				 <!--<p>What we're looking at now</p>-->

				 <br>
				 <br>
				 <br>
				</div>
			</div>

			<div class="box panel panel-default">
				<div class="action center">
				</br>
				<h2><%= link_to 'Who is Dran?', dranpage_path %></h2>
				 <h4>March 16, 2014</h4>

				</br>
				  <img src="http://api.ning.com/files/tVmzSqOjQqN1PYVQ05ciLZfq6*mty5-0*HCTljgf7fAQZPh9CKzsd9tT9bh2q37LnNsE5o8pnGVjp*PsN7XYlrmG4n0ex1ZC/dranstreetart7.jpeg" alt="Dran Van Gogh Selfie" height="290" width="250"/></br>
				 <!--<p>What we're looking at now</p>-->
				 
				 

				 <br>
				 <br>
				 <br>
				</div>
			</div>



	</div> <!--this is for the transitions-->

	</div>

	<h6>by Hunter Plasterwall</h6>

